body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 42, 42);
  color: white;
  user-select: none;
}

#total-medals-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.enemy-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health-bar {
  width: 300px;
  height: 20px;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.health-progress {
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transition: width 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.enemy-image {
  width: 1000px;
}

.enemy-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.enemy-image:active {
  opacity: 0.8;
  transform: scale(1.2);
}

.upgrade {
  display: flex;
  align-items: center;
  width: 330px;
  height: 60px;
  border: 3px solid white;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 5px;
}

.mid-section h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

.upgrade-image {
  width: 55px;
}

.medal-img {
  width: 20px;
  height: 35px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
